#skills {
    height: 20%;
    border-top: 0px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    padding-bottom: 5%;
  
    @include respond(tab-land) {
      -webkit-clip-path: none;
      clip-path: none;
    }
  
    .skills-wrapper {
      @include respond(phone) {
        padding-bottom: 5rem;
      }
        display: flex;
        height: 20%;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
  
        @include respond(tab-port) {
        font-size: 1.5rem;
        text-align: center;
        }
        @include respond(phone) {
        font-size: 1.6rem;
        text-align: center;
        }
    }

    .single-skill{
        :hover {
            background-color: $primary-color;
        }
    }
}